In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [5]:
data.head()

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498

[5 rows x 41 columns]

In [6]:
data['location'].describe()

count           48594
unique            212
top       South Korea
freq              282
Name: location, dtype: object

In [26]:
data['location'].value_counts()

South Korea       282
Singapore         282
International     282
Philippines       282
Oman              282
                 ...
Western Sahara    165
Tajikistan        160
Comoros           159
Lesotho           146
Hong Kong          23
Name: location, Length: 212, dtype: int64