<a href="https://colab.research.google.com/github/RedShuuu/Mix/blob/master/covid_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [7]:
data.head()

  iso_code      continent  ... life_expectancy human_development_index
0      ABW  North America  ...           76.29                     NaN
1      ABW  North America  ...           76.29                     NaN
2      ABW  North America  ...           76.29                     NaN
3      ABW  North America  ...           76.29                     NaN
4      ABW  North America  ...           76.29                     NaN

[5 rows x 41 columns]

In [10]:
data['location'].describe()

count        48380
unique         212
top       Cambodia
freq           281
Name: location, dtype: object

In [14]:
data[(data['continent'] == 'North America')]['location'].value_counts()

Mexico                              281
Dominican Republic                  281
United States                       281
Canada                              281
Sint Maarten (Dutch part)           213
Costa Rica                          213
Panama                              212
Trinidad and Tobago                 208
Jamaica                             208
Honduras                            207
Guatemala                           206
Cuba                                206
Saint Lucia                         206
Bahamas                             203
Saint Vincent and the Grenadines    203
Barbados                            203
Curacao                             203
Aruba                               203
Nicaragua                           202
El Salvador                         202
Haiti                               201
Greenland                           201
Antigua and Barbuda                 201
Cayman Islands                      201
Bermuda                             201
Montserrat                          200
Dominica                            198
Grenada                             198
United States Virgin Islands        197
Belize                              197
Turks and Caicos Islands            196
Saint Kitts and Nevis               195
British Virgin Islands              194
Anguilla                            194
Puerto Rico                         193
Bonaire Sint Eustatius and Saba     188
Name: location, dtype: int64

In [15]:
US_data = data[(data['location'] == 'United States')]

In [17]:
US_data.head()

      iso_code      continent  ... life_expectancy human_development_index
45010      USA  North America  ...           78.86                   0.924
45011      USA  North America  ...           78.86                   0.924
45012      USA  North America  ...           78.86                   0.924
45013      USA  North America  ...           78.86                   0.924
45014      USA  North America  ...           78.86                   0.924

[5 rows x 41 columns]